.anime_details {

    padding: 20px;
    margin: 4% 0;
    background: #FFF;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    height: fit-content;

}

.anime_details h5 {

    margin: 0px 0 10px 0;

}

.anime_details_row {

    display:flex;
    font-size: 12px;

}

.anime_details_row_name {

    width:70px;
    margin-right: 7px;
    font-weight:bold;

}

.anime_details_row_value {

    color:gray;

}